#tt{
    border-radius: 10px;
}
#tt td,#tt th{
border-radius: 20px;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#square1{
    width: 150px;
    height: 100px;
    border:5px solid green;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#square2{
    width: 150px;
    height: 100px;
    border:5px solid green;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#square3{
    width: 150px;
    height: 100px;
    border:5px solid green;
    border-radius: 40px;
    margin-bottom: 20px;
}
#square4{
    width: 150px;
    height: 100px;
    border:5px solid green;
    border-radius: 15px;
    margin-bottom: 20px;
}
#square5{
    width: 150px;
    height: 100px;
    border:5px solid green;
    border-radius: 3px;
    margin-bottom: 20px;
}
#square6{
    width: 150px;
    height: 100px;
    border:5px solid green;
    border-radius: 30px;
    margin-bottom: 20px;
}#square7{
    width: 150px;
    height: 100px;
    border:5px solid green;
    border-radius: 50%;
    margin-bottom: 20px;
}#square8{
    width: 150px;
    height: 100px;
    border:5px solid green;
    border-radius: 5px;
    margin-bottom: 20px;
}
#square9{
    width: 150px;
    height: 100px;
    border:5px solid green;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    margin-bottom: 20px;
}
.vbar div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    width: 110px;
    color: blue;
    height: 50px;
    background-color: skyblue;
    font-size:x-large;

}
#home{
    background-color: orange;
    color: white;
}
.hbar{display: flex;}
.hbar div{
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    width: 110px;
    border-right: 1px solid blue;
    color: blue;
    height: 50px;
    background-color: lightgrey;
    font-size:x-large;
}
#home1{
    background-color: gray;
    color: white;

}
.t3 td{
    width: 300px;
    border-color: transparent;
}
.t3{
    border-color: transparent;
}
.t3 tr:nth-child(even){
    background-color: rgb(222, 222, 222);
}
#head{
    background-color: rgb(28, 160, 101);
    color: white;
}
#box{
    width: 900px;
    height: 500px;
    display: flex;
    border: 2px solid black;
}
#content{
    text-align: center;
    flex-grow: 1;
  
}
#box div{
    
    width: 100px;
    height: 70px;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    margin-top: 20px;
    border: 2px solid transparent;
}
#green{
    background-color: green;
}
#blue{
    background-color: skyblue;
}
#red{
    background-color: red;
}
#grey{
    background-color: gray;
}
#box div:hover{
    width: 150px;
}

#form{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#t6{
    width: 65%;
    height: 500px;
    border: 2px solid black;
    background-color: rgb(193, 227, 89);
    display: flex;
}
.menu {
  list-style: none;
  padding: 0;
  margin-right: 20px;
}



.menu a {
    margin-top: 20px;
    margin-left: 20px;
  display: inline-block;
  width: 120px;
  padding: 5px;
  background-color: white;
  color: #000080;
  text-decoration: none;
  border-right: 15px solid black;
  font-weight: bold;
}

.content {
  max-width: 600px;
}

h1 {
  color: purple;
}

.footer {
  font-style: italic;
  color: #444;
}